<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert a new Product</title>
</head>
<body>
    <form action="/doEdit" method="post">
        <input type="hidden" name="id" value="{{model._id}}">
        Name <input type="text" name="txtName" value="{{model.productName}}">     
        <br>
         Descriotion <input type="text" name="txtDescription" value="{{model.description}}">
        <br>
        Color <input type="text" name="txtColor" value="{{model.color}}">
        <Br>
        Price <input type="text" name="txtPrice" value="{{model.price}}">     
        <br>
        <input type="submit" value="Update">
    </form>
</body>
</html>